{% extends 'base.html' %}

{% block title%}

Welcome to Brain Waves Company

{% endblock %}

{% load staticfiles %}

{% block body %}
	
	<!-- Responsive slider - START -->
<div class="contents">

	<div class="slider">
		<div class="">
			<div class="">
				<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
					<div class="slides" data-group="slides">						
						<ul>

							{% for item in carousel %}

							<li>
								<div class="slide-body" data-group="slide">
									<img src="{{item.image.url}}" alt="" class="img-responsive" >
								</div>					
							</li>

							{% endfor %}
					
						</ul>
					</div>			   
					<a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
					<a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>		
				</div>
			</div>
		</div>
	</div>
    <!-- Responsive slider - END -->
 
	
		<div class="content">
			<h2><span>Welcome to Brain Waves Company</span></h2>
			<p>Our foremost concern is promoting the awareness and access to quality health care services by conducting research. </p>
		</div>
	<div class="breadcrumb">
		<h4>Recent Works</h4>
	</div>
	
	<!-- RECENT WORKS -->

	<div class="container">
		<div class="row">
			<div class="boxs">	

			{% for work in works|slice:":3" %}	

				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
						<div class="align-center">
							<h4>{{work.title}}</h4>					
							<div class="icon">
								<i class="fa fa-{{work.icon}} fa-3x"></i>
							</div>
							<p>
							 {{work.caption}}
							</p>

							<!-- <div class="ficon">
								<a href="" alt="">Learn more</a> 
							</div> -->

						</div>
					</div>
				</div>

			{% endfor %}
				
			</div>
		</div>
	</div>
	
	
	<div class="breadcrumb" id="about nav">
		<h4>About Us</h4>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="">				
				<div class="col-md-7">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">						
						<img src="{% static 'img/2.png' %}" alt="" class="img-responsive">					
					</div>
				</div>
				<div class="col-md-5">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">
						<div class="list-group">

							<div class="list-group-item">
								<h4 class="list-group-item-heading">About Brain Waves Company</h4>
								<p class="list-group-item-text">This is a research company which has been created by Clarisse Marie Claudine Simbi in
2014. </p>

<p>Clarisse is Epidemiologist and Statistician; currently enrolling in PhD program in Epidemiology and
Health Statistics at Ningxia Medical University in Yinchuan, China. </p>

<p>She is passionate about advancing the
movement of global health equity. Now the company has grown and has more than 20 professional
statisticians, Epidemiologists, researchers and public health practitioners working together to bring about
positive change in their community by conducting influential and valuable health related researches. 
								</p>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="">							
				<div class="col-md-4">
					<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
						<div class="list-group">
							<div class="list-group-item">
								<h4 class="list-group-item-heading">OUR MISSION</h4>
								<p class="list-group-item-text">Our foremost concern is promoting the awareness and access to quality health care
services by conducting research. 
								</p>								
							</div>
							<div class="list-group-item">
								<h4 class="list-group-item-heading">WHO WE ARE</h4>
								<p class="list-group-item-text">We are a group of Researchers, Statisticians, Epidemiologists, and Public Health
practitioners who want to promote the quality health care services through conducting researches
elucidating the most health challenging problems we are facing in our communities as well as finding the
lasting solutions for improving the lives of Rwandan population.
								</p>								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="image">
						<div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.3s">						
							<img src="{% static 'img/5.jpg' %}" alt="" class="img-responsive">					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
	<hr>
	
{% endblock %}

{% block scripts %}

{% endblock %}