{% extends 'base.html' %}

{% block title%}

Welcome to Brain Waves Company

{% endblock %}

{% load staticfiles %}

{% block body %}
	
	<!-- Responsive slider - START -->
<div class="contents">
	
	<div class="container">
		<div class="row">

			<p class="green-text" align="center">We have different kinds of initiatives. Join to be part of us.</p>

			<div class="col-md-8">
				<div class="page-header">
					<div class="blog">

						<center><img src="{{program.image.url}}" class="img-responsive"alt="" /></center>

						<br>

						<h3 align="center">{{program.title}}</h3>

						<br>		
					
						<p align="center">{{program.caption}}</p>
						
						<h3 align="center">Description</h3>

						<p align="center">{{program.description}}</p>

						<div class="ficon">
							<a href="join-program&p={{program.id}}" alt="">Join us</a> 
						</div>

					</div>
				</div>	
			</div>
			
			
			
			
			<div class="col-md-4">
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>our programs</strong>
					</div>

					<iframe class="iframe panel-body" src="/all-programs" frameborder="0" height="600">
						
					</iframe>
				</div>			
			</div>				
		</div>
	</div>
	

	
	<hr>
	<!--start footer-->
{% endblock %}

{% block scripts %}

{% endblock %}