{% extends 'base.html' %}

{% block title%}

Welcome to Brain Waves Company

{% endblock %}

{% load staticfiles %}

{% block body %}
	
	<!-- Responsive slider - START -->
	
	<!-- Responsive slider - START -->
<div class="contents">
	
	<div class="container">

		<p align="center" class="green-text">We're glad you are about to register.</p>
		<!-- <p align="center" class="green-text">Together we can do more!</p> -->


		<div class="col-lg-6">
			<div class="map">
				<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kuningan,+Jakarta+Capital+Region,+Indonesia&amp;aq=3&amp;oq=kuningan+&amp;sll=37.0625,-95.677068&amp;sspn=37.410045,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Kuningan&amp;t=m&amp;z=14&amp;ll=-6.238824,106.830177&amp;output=embed">
				</iframe>
			</div>
		</div>

		

		<p align="center" class="green-text">Please let us know you well.</p>

		<div class="col-lg-6">
			<form class="form-horizontal" role="form" method="POST" action="registering"> {% csrf_token %}

				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="inputPassword3" placeholder="Name" name="names" required>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
					  <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" required>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
					<div class="col-sm-10">
					  <input type="tel" class="form-control" id="inputEmail3" placeholder="Phone" name="phone" required>
					</div>
				</div>


				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Address</label>
					<div class="col-sm-10">
					  <input name="address" type="text" class="form-control" id="inputEmail3" placeholder="Address" required>
					</div>
				</div>


				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Training</label>
					<div class="col-sm-10">
					  <!-- <input type="text" class="form-control" id="inputEmail3" placeholder="Phone"> -->

					  <select class="form-control" name="training" id="training" required>
					  	{% for training in trainings %}
					  		<option price="{{training.price}}" value="{{training.id}}" {%if training.id == choosen.id %} selected {% endif %}>{{training.title}}</option>

					  	{% endfor %}
					  </select>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Duration</label>
					<div class="col-sm-10">
					  <!-- <input type="text" class="form-control" id="inputEmail3" placeholder="Phone"> -->

					  <select class="form-control" name="duration" id="duration" required>
					  		<option value="1">1 Month</option>
					  		<option value="3">3 Months</option>
					  		<option value="6">6 Months</option>
					  </select>
					</div>
				</div>


				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Price(in USD)</label>
					<div class="col-sm-10">
					  <input name="paid" type="text" value="{{choosen.price}}" class="form-control price" id="inputEmail3" placeholder="Price" readonly="true" required>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Pay with</label>
					<div class="col-sm-10">
					  <!-- <input type="text" class="form-control" id="inputEmail3" placeholder="Phone"> -->

					  <select class="form-control" name="payment" id="method" required>
					  		{% for method in paymentMethods %}
					  		<option value="{{method.id}}">{{method.title}}</option>
					  		{% endfor %}
					  </select>
					</div>
				</div>
					
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Notes</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="8" name="description" placeholder="More details" required></textarea>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-default">Register</button>
					</div>
				</div>
			</form>	
		</div>
	</div>	
	
	<hr>
</div>
	
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		var basePrice = $(this).find(':selected').attr('price');

		$('.price').val(basePrice);

		$('#training').change(function(){
			newPrice = $(this).find(':selected').attr('price'),
			basePeriod = $('#duration').val(),
			price = newPrice * basePeriod;
			$('.price').val(price);
		});

			$('#duration').change(function(){
			var time = $(this).val(), price = time * newPrice;
			$('.price').val(price);
			
		})
	})
</script>

{% endblock %}