{% extends 'base.html' %}

{% block title%}

Welcome to Brain Waves Company

{% endblock %}

{% load staticfiles %}

{% block body %}
	
	<!-- Responsive slider - START -->
<div class="contents">
	
	<div class="container">
		<div class="row">

			<p class="green-text" align="center">We have different kinds of trainings. Register to get started.</p>

			<div class="col-md-8">
				<div class="page-header">
					<div class="blog">

						<center><img src="{{training.image.url}}" class="img-responsive"alt="" /></center>

						<br>

						<h3 align="center">{{training.title}}</h3>

						<br>		
					
						<p align="center">{{training.caption}}</p>
						
						<h3 align="center">Description</h3>

						<p align="center">{{training.description}}</p>

						<h3 align="center">Price: ${{training.price}}/Month</h3>

						<div class="ficon">
							<a href="register-program&t={{training.id}}" alt="">Register</a> 
						</div>
					</div>
				</div>	
			</div>
			
			
			
			
			<div class="col-md-4">
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>All Trainings</strong>
					</div>

					<iframe class="iframe panel-body" src="/all-trainings" frameborder="0" height="600">
						
					</iframe>
				</div>			
			</div>				
		</div>
	</div>
	

	
	<hr>
	<!--start footer-->
{% endblock %}

{% block scripts %}


{% endblock %}